*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    
    }
    body{
        font-family: "poppins";
        margin: 0;
        padding: 0;
    }
    nav{
       

    }
     .barMobile{

        display: none;
    }
    .desktop{
        display: flex;
         width: 100%;
        height: 20%;
        padding: 15px 0;
        display: flex;
        flex-direction: row;
    }
             


    nav .logo{
    display: flex;
    list-style: none;
    flex:2;
    justify-content: center;


    }
    
    
     nav .logo  li a{
        color: black;
        text-decoration: none;
        font-size: 32px;
        font-family: Poppins;
      font-style: normal;
      font-weight: 600;

    }
    

    
nav .linksNav{
    list-style: none;
    margin: 0;
    display: flex;
    flex:5;
    align-self: center;
    align-items: center;
    justify-content: center;


    }
    .linksNav li  a{
        color: black;
        text-decoration: none;
        font-size: 20px;
        font-family: Poppins;
      font-style: normal;
      font-weight: 600;
    }
    nav .linksNav li {

        margin: 0 3%;
    }

      /* start section 1 */
      .section1{
          margin-top: 90px;
        width: 100%;
        background: #064635;
        display: flex;
        flex-direction: row;
                padding: 6% 8%;
           justify-content: center;

    }
     
     .contact{
        margin-top: 20px;
        align-self: center;
        margin-left: 20%;
        width: 50%;
 background-color: rgb(255, 255, 255);
 border-radius: 10px;
 padding: 0% 5%;

}
.contact h3{

   text-align: center; 
   font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #064635;
    margin-bottom: 20px;


}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.input1{

    display: flex;
    justify-content: space-between;

}
.input11{   
    display: flex;
    flex-direction: column;
    margin-top: 10px;
} 
.input11 label {
    width: auto;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 19px;

color: #000000;
}
.input11 input {
    width: 100%;
height: 30px;
border: none;
background: #ECEFF3;
border-radius: 6px;
}
#messageInp{

    width: 60%;
height: 50px;

}  
.input11 button{

    margin-top: 30px;
    width: 40%;
height: 40px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 24px;

align-self: center;
color: #FFFFFF;


background: #064635;
border-radius: 10px;
}
.infoPerso{   
    width: 30%; 
    margin-top: 20px;
    border-left: 5px solid rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 255, 255);
 }
 .infoPerso h3{    
    text-align: center; 
   font-weight: 600;
    font-size: 24px;
    width: 100%;
    line-height: 36px;
    color: #ffffff;
    margin-left: 5%;
    margin-bottom: 40px;
 }
 .feat1{
    display: flex;
    height: 40px;
    width: 80%;
    padding-left: 10%;
    margin-bottom: 20px;
    justify-content: space-between;

}
.feat1 img {

width: 32px;
 height: 32px;
 margin-right: 20px;
}
.feat11{

width: 100%;
height: 27px;


font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 19px;


color: #FFFFFF;

}
.feat11 h6{

width: 100%;

margin: 0;
font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 17px;

color: #FFFFFf;


}
.feat11 p{
margin: 0;
height: 27px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;


color: #FFFFFF;


}
.socialM{
    margin-top: 50px;
height: 32px;
display: flex;
justify-content: center;



}
.socialM img{

margin-right: 40px;

}
    /* end section 1 */
            /* start section 2*/
            .section2{
                    width: 100%;
                margin-top: 30px;
                display: flex;
                flex-direction: row;
               
            }
            .section2 img{
                    display: block;
                    width: fit-content;
        
            }
            .map{
                width: 45%;
                margin-left: 10%;
}           
                    .map h3{
                
                text-align: center;

                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 51px;

                color: #064635;
                
                       
                    }
                    iframe{
                        width: 100%;
                       height: 300px;
                       align-self: center;
                       
                               border-radius: 14px;
                       
                           }
                           #showInfo{
                            background-color: #FFFFFF;
                            border-radius: 15px;
                            width: 450px;
                            height: 450px;
                            top: 40%;
                            left: 40%;                            position: absolute;
                            text-align: center  ;
                            padding-top: 5%;
                            display: none;
                            flex-wrap: nowrap;
                            overflow-x: auto;
                    }
                    #exit{
                       margin-left:90% ;
                        display: inline;
                        text-align:right
                    }
                 /*end showingInfo  */
                 .infoC{
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
                    height: auto;
                    width: auto;
                    
            
                 }
                 .infoC p {
            
                    margin: 0px;
                    margin-left: 10px;
                 }
    

    #menuImg{
        display: none;
        width: 24px;
        height: 27px;
        margin:0 0.5em ;


    }
#hideMenu{
    position: absolute;
    left: 5%;
    top: -1%;
    

}
nav .linksNav{
    list-style: none;
    margin: 0;
    display: flex;
    flex:5;
    align-self: center;
    align-items: center;
    justify-content: center;


    }
    .linksNav li  a{
        color: black;
        text-decoration: none;
        font-size: 20px;
        font-family: Poppins;
      font-style: normal;
      font-weight: 600;
    }
    nav .linksNav li {

        margin: 0 3%;
    } 
    
    footer{
        padding-left: 5%;
         margin-top: 20px;
         width: 100%;
         display: flex;
         justify-content: center;
     
     
        }
        .featFot{
             margin-left: 8%;
             border-right:groove;
             flex: 1;
     
         padding-right: 3%;
     
        }
        .featFot h6{
         font-family: Poppins;
         font-style: normal;
          font-weight: 200;
         font-size: 10px;
         line-height:15px;
        
     }
     
        .feaatFot1 {
             margin: 0; 
             display: flex;
             align-items: center;
        }
        .feaatFot1 img{
         width:10%;
         height: 10%;
        }
        .feaatFot1 h6{
          margin-left: 2%;
         font-family: Poppins;
         font-style: normal;
          font-weight: 300;
         font-size: 8px;
         line-height: 9px;
        }
        #cars {
            padding-right: 30px;
        }
       
        #feaatFot0  {
     
         border-right: none;
     
        }
        #feaatFot0 h6 {
     
         border-right: none;
     
        }
        #cars h6{
         width: 90%;
     
        }
         /* end footer  */
    @media screen and (min-width: 350px) and (max-width: 580px) {
        /* start header */
        nav{
            width: 100%;
            height: 20%;
            padding: 0 2%;
            
            display: flex;
            flex-direction: column;
        }
       .barMobile{

            display: block;
        }
        .desktop{
            display: none;
        }

        nav .logo1{
        display: flex;
        list-style: none;
        flex: 2;
        justify-content: flex-start;

        }
        nav ul li  a{
            color: black;
            text-decoration: none;
            font-size: 24px;
            font-family: Poppins;
          font-style: normal;
          font-weight: 600;
        }
        #rentLogo{
            font-size: 24px;

        }
        

        #menuImg{
            display: block;
            width: 24px;
            height: 27px;
            margin-top: 5px;
            margin-right: 10px;

        }
    #hideMenu{
        display: none;
        position: absolute;
        left: 5%;
        top: -0.5%;

    }
    nav .linksNav1{
        display: none;
        list-style: none;
        margin:0 0.5em ;
        align-self: flex-start;
        
        }
        .linksNav1 li  a{
            color: black;
            text-decoration: none;
            font-size: 16px;
            font-family: Poppins;
          font-style: normal;
          font-weight: 600;
        }
        nav .linksNav li {
    
            margin: 0 3%;
        }

            /* start section 1 */
            .section1{
                width: 100%;
                background: #064635;
                display: flex;
                flex-direction: column-reverse;
                    padding: 6% 8%;

            }
             
             .contact{
                margin-top: 20px;
                width: 80%;
         background-color: rgb(255, 255, 255);
         border-radius: 10px;
         padding: 5% 5%;
         margin-left: 0;

        }
        .contact h3{

           text-align: center; 
           font-weight: 600;
            font-size: 18px;
            line-height: 36px;
            color: #064635;
            margin-bottom: 20px;


        }
        .inputs{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        }
        .input1{
            display: flex;
            justify-content: space-between;

        }
        .input11{   
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            margin-left: 10px;
        } 
        .input11 label {
            width: auto;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 19px;
margin-left: 30px;

color: #000000;
        }
        .input11 input {
            width: 100%;
height: 30px;
border: none;
background: #ECEFF3;
border-radius: 6px;


        }
        #messageInp{

            width: 60%;
height: 50px;

        }  
        .input11 button{

            margin-top: 30px;
            width: 40%;
height: 40px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 24px;

align-self: center;
color: #FFFFFF;


background: #064635;
border-radius: 10px;
        }
        .infoPerso{    
            margin-top: 20px;
                width: 80%;
                align-self: center;
            border-left: 5px solid rgb(255, 255, 255);
            border-bottom: 5px solid rgb(255, 255, 255);
         }
         .infoPerso h3{    
            text-align: center; 
           font-weight: 600;
            font-size: 18px;
            line-height: 36px;
            color: #ffffff;
            margin-bottom: 20px;
         }
         .feat1{
            display: flex;
            height: 40px;
            width: 80%;
            padding-left: 10%;
            margin-bottom: 20px;
            justify-content: space-between;

      }
      .feat1 img {

        width: 32px;
         height: 32px;
         margin-right: 20px;
    }
    .feat11{

        width: 100%;
height: 27px;


font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 19px;


color: #FFFFFF;

    }
    .feat11 h6{

        width: 100%;

        margin: 0;
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 17px;
        
        color: #FFFFFf;
        

    }
    .feat11 p{
        margin: 0;
        height: 27px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;


color: #FFFFFF;
    

}
.socialM{
    height: 32px;
     display: flex;
     justify-content: center;
     margin-bottom: 10px;
     


}
.socialM img{

    margin-right: 40px;
    
}
            /* end section 1 */
                    /* start section 2*/
                    .section2{
                            width: 100%;
                        margin-top: 30px;
                        display: flex;
                        flex-direction: column;
                        padding: 0 7%;
                    }
                    .section2 img{
                            display: none;
                
                    }
                    .map{
                        width: 100%;
                        margin-left: 0;
   }
                            .map h3{
                        
                        text-align: center;

                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 51px;

                        color: #064635;
                        
                               
                            }
                            iframe{
                                width: 100%;
                               height: 300px;
                               align-self: center;
                               
                                       border-radius: 14px;
                               
                                   }
                                   #showInfo{
                                    background-color: #FFFFFF;
                                    border-radius: 15px;
                                    width: 350px;
                                    height: 450px;
                                    top: 30%;
                                    left: 15%;
                                    position: absolute;
                                    text-align: center  ;
                                    padding-top: 10%;
                                    display: none;
                                    flex-wrap: nowrap;
                                    overflow-x: auto;
                            }
                         /*end showingInfo  */
                         .infoC{
                            margin-top: 20px;
                            display: flex;
                            justify-content: center;
                            height: auto;
                            width: auto;
                            
                    
                         }
                         .infoC p {
                    
                            margin: 0px;
                            margin-left: 10px;
                         }
                         /* start footer */
                         footer{
                            margin-top: 30px;
                          width: 100%;
                          display: flex;
                          justify-content: center;
                      
                         }
                         .featFot{
                              margin-left: 8%;
                              border-right:groove;
                              flex: 1;
                      
                          padding-right: 3%;
                      
                         }
                         .featFot h2{
                          font-family: Poppins;
                          font-style: normal;
                           font-weight: bold;
                          font-size: 14px;
                          line-height:15px;
                          height: 30px;
                      
                         }
                         .featFot h6{
                          font-family: Poppins;
                          font-style: normal;
                           font-weight: 200;
                          font-size: 10px;
                          line-height:15px;
                         
                      }
                      
                         .feaatFot1 {
                            padding-right: 10px;

                              margin: 0; 
                              display: flex;
                              align-items: center;
                         }
                         .feaatFot1 img{
                          width:10%;
                          height: 10%;
                         }
                         .feaatFot1 h6{
                           margin-left: 2%;
                          font-family: Poppins;
                          font-style: normal;
                           font-weight: 300;
                          font-size: 8px;
                          line-height: 9px;
                         }
                         #cars {
                             padding-right: 30px;
                         }
                        
                         #feaatFot0  {
                      
                          border-right: none;
                      
                         }
                         #feaatFot0 h6 {
                      
                          border-right: none;
                      
                         }
                         #cars h6{
                          width: 90%;
                      
                         }
                      /* end footer  */

        }