*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    }
    body{
        font-family: "poppins";
    }
    /* start header*/
    .menu ul {
        align-items: center;
         display: flex;
        list-style: none;
        justify-content: space-between;
        margin-right: 2%;
        flex-direction: row;
    
    }
    header{

        padding-left: 119px;
        padding-right: 119px;
        
    }
    .menu   ul li a{
        color: black;
      text-decoration: none;
      font-size: 18px;
      margin:0px 10px;
     
      font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 31px;
  

  }
   nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 60px;
  
   }
   .linksNav li{
    padding-left: 30px;
   


   }
   .Logo  li {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 51px;
   }
  /* end header*/

  /*start section 1 */
  .container1{
    margin-top: 142px;
    padding-left: 150px;
    padding-right: 47px;
    display: flex;
    
}
 .image{
    width: 761px;
    height: 311px;


 } 

 .text h2{
   
    width: 341px;
    height: 107px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 51px;


 }

 .text p{

    width: 451px;
height: 96px;


font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 21px;
line-height: 31px;
 }
  
  /*end section 1 */
    /*start section 2 */
    .container2{

 margin-top: 153px;
        margin-left: 119px;
        margin-right: 138px;

    }

        .container2 h2 {

            text-align: center;

height: 51px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 51px;
margin-bottom: 131px;
        }
        .featrs{
            display: flex;
            justify-content: space-between;

        }

    .first{

        width: 350px;
        height: 279px;
        left: 119px;
        top: 886px;
            padding-top: 30px;
        background: #FFFFFF;
        mix-blend-mode: normal;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        text-align: center;

    } 
    .first img {
        width: 100px;
height: 100px;
    }   
    .first h3 {

height: 27px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
    }  
    .first p {
height: 40px;
margin-left: 55px;
margin-right: 55px;
font-family: "Poppins";
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 19px;

    }
  
  
    /*end section 2 */
    /*Start section 3 */

    .container3{

        margin-top: 182px;
        margin-right: 200px;

        display: flex;
        justify-content: space-between;

    }
    .container3 img {
        width: 801px;
        height: 311px;
    }

    .featrs1 {
        display: flex;
        flex-direction: column;
        margin-left: 226px;

    }
    .featrs1 h2{
        width: 437px;
height: 90px;


font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 45px;


    }

    .first1{
        width: 467px;
        height: 114px;
        margin-bottom: 20px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        display: flex;
       

    }
    .first1 img{
            margin-top: 37px;
            margin-bottom: 37px;
            margin-left: 18px;
            margin-right: 37px;
        width: 40px;
        height: 40px;
        }
        .first11 h5{

height: 10px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;

        }
.first11 p{


    width: 290px;
height: 40px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 19px;
}
    /*end section 3 */
        /*Start section 4 */
           
        .container4{

margin-top: 250px;
margin-left: 219px;
width: 991px;
height: 191px;

background: #1B8530;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
display: flex ;
justify-content: space-between;
        }

        .text4{
            margin-left: 52px;
            margin-top: 30px;
            margin-bottom: 57px;


        }
        .text4 h1{

            width: 426px;
        
            
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 45px;
            color: white;

        }
        .text4 p {

            width: 370px;
height: 40px;


font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 19px;

color: #FFFFFF;
        }
        
        .button{
                margin-top:61px ;
                margin-bottom: 72px;
            width: 171px;
height: 58px;
            text-align: center;
                margin-right: 60px;
background: #FFFFFF;
border-radius: 13px;
        }
        .button h4 {
    height: 27px;
margin-top: 15px;
margin-bottom: 16px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: #1B8530;
        }
        
        /*End section 4 */
         /* Start footer*/
            footer{
                width: 1311px;
height: 274px;
margin-left: 160px;
margin-top: 229px;
margin-right: 42px;
margin-bottom: 20px;
display: flex;
justify-content: space-around;

            }
         
         
         .featFot{

            font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 19px;
         }
         .feaatFot1{
             display: flex;
             }

         .feaatFot1 img{
           
            margin-top: 47px;

            width: 32px;
            height:21px;  
            margin-right: 30px;
        

         }
         footer h6{

            width: 338px;
height: 20px;


font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 54px;

         }
         /*End footer  */

