*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    }
    body{
        font-family: "poppins";
        margin: 0;
        padding: 0;
    }
    nav{
        width: 100%;
        height: 20%;
        padding: 15px 0;
        display: flex;
    }
    nav .logo{
    display: flex;
    list-style: none;
    flex:2;
    justify-content: center;


    }
    
    
     nav .logo  li a{
        color: black;
        text-decoration: none;
        font-size: 32px;
        font-family: Poppins;
      font-style: normal;
      font-weight: 600;

    }
    

    #menuImg{
        display: none;
        width: 24px;
        height: 27px;
        margin:0 0.5em ;


    }
#hideMenu{
    position: absolute;
    left: 5%;
    top: -1%;
    

}
nav .linksNav{
    list-style: none;
    margin: 0;
    display: flex;
    flex:5;
    align-self: center;
    align-items: center;
    justify-content: center;


    }
    .linksNav li  a{
        color: black;
        text-decoration: none;
        font-size: 20px;
        font-family: Poppins;
      font-style: normal;
      font-weight: 600;
    }
    nav .linksNav li {

        margin: 0 3%;
    }
    
.cover1{
    width: 100%;
background-image:  url("../images/cover.png");
background-size: cover;
height:   600px;
 padding-top: 10%;

}


.cover1 h1 {
    text-align: center;

width: auto;
height: auto;



font-style: normal;
font-weight: bold;
font-size: 50px;

color: #FFFFFF;
}
.vheicule{
      width: 100%;
        padding: 0 20%;
    margin-top: 75px;

}
.vheicule h2 {
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 75px;
        color: #000000;

}
.vheicule h5 {
    font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
margin: 0%;

}
.cars::-webkit-scrollbar{
            width: 0;

        }
.cars{
    width: 100%;
       display: flex;
       justify-content: space-between;
       height: 250px;
       border-top: 2px solid;
        padding: 2%;
       overflow-y: hidden;
       flex-wrap: nowrap;
       overflow-x: auto;
       padding-top: 30px;
    


}
/* .car:hover {
    background-color: gold;
    width: 55%;
    margin: 0;
    
  } */
    .car{
        width: 35%;
    height:200px ;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin-left: 30px;
    padding-left: 0;
    padding-top: 22px;
    
    }
    .car h6 {
        
        font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
      text-align: center;
    color: #ffffff;
    margin: 5% 2%;
        

    }
    .car img {

        width: 70px;
        height:60px;
       margin: 0 35px;
       margin-bottom: 28px;

    }
    .carInfo{
        width: 101%;
    height:83px ;
    margin-right: 40px;
    padding-top: 20%;
background: #064635;
border-radius: 0px 0px 25px 25px;

    }
    

/*End Section vheicule*/
/*start Section fuelOption*/
.fuelOption{
width: 100%;   
 height: 240px;
 padding: 0 30%;
    display: none;
padding-top: 2%;

}
.fuelOption h2 {
text-align: center;
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 79px;

color: #000000;

}
.optionsF label{

    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 36px;
}
.optionsFF{
    display: flex;
    justify-content: space-between;
}


/*End Section fuelOption*/
/*start Section boxGear*/

.boxGear{

    width: 100%;
    height: 300px;
    padding: 0 35%;
display: none;
}
.boxGear h2{
    text-align: center;
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 79px;
color: #000000;

}
.boxOptions{
    width: 100%;
   padding: 0 10%;
   display: flex;
    justify-content: space-between;

}

.boxOptionsSpecs {
display: flex;
justify-content: center;
flex-direction: column;
}
.boxOptionsSpecs p {
    font-style: normal;
    text-align: center;
font-weight: 500;
font-size: 18px;
line-height: 36px;
}
.boxOptionsSpecs img {
margin: auto;
    width: 80px;
height: 80px;
margin-bottom: 15px;
}

#manual{
    margin: auto;
}
#automatic{
    margin: auto;
}
/*End Section boxGear*/

/*start Section duration*/

.duration{
    width: 100%;
height: 400px;   
 padding: 0 35%;


}
.duration h2 {
    text-align: center;
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 79px;
color: #000000;


}
.durationOption{
    width: 100%;
   display: flex;
align-items: center;
padding: 0 10%;

}
.durationOption label{

    font-style: normal;
font-weight: 500;
font-size: 24;
line-height: 60px;
margin-right: 20px;
}
#durationn{
    width: 60%;
height: 50px;



background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 10px;
}
.duration button {
    height: 50px;
    width: 150px;
background: #064635;
margin: 0 40%;
color: white;
border-radius: 10px;
margin-top: 40px;

}
footer{
    padding-left: 5%;
     margin-top: 20px;
     width: 100%;
     display: flex;
     justify-content: center;
 
 
    }
    .featFot{
         margin-left: 8%;
         border-right:groove;
         flex: 1;
 
     padding-right: 3%;
 
    }
    .featFot h6{
     font-family: Poppins;
     font-style: normal;
      font-weight: 200;
     font-size: 10px;
     line-height:15px;
    
 }
 
    .feaatFot1 {
         margin: 0; 
         display: flex;
         align-items: center;
    }
    .feaatFot1 img{
     width:10%;
     height: 10%;
    }
    .feaatFot1 h6{
      margin-left: 2%;
     font-family: Poppins;
     font-style: normal;
      font-weight: 300;
     font-size: 8px;
     line-height: 9px;
    }
    #cars {
        padding-right: 30px;
    }
   
    #feaatFot0  {
 
     border-right: none;
 
    }
    #feaatFot0 h6 {
 
     border-right: none;
 
    }
    #cars h6{
     width: 90%;
 
    }
     /* end footer  */
/*End Section duration*/
    @media screen and (min-width: 350px) and (max-width: 580px) {
        /* start header */
        
            nav{
                width: 100%;
                height: 20%;
                padding: 0 2%;
                display: flex;
                flex-direction: column;
            }
            nav .logo{
            display: flex;
            list-style: none;
            flex: 2;

            }
            nav ul li  a{
                color: black;
                text-decoration: none;
                font-size: 18px;
                font-family: Poppins;
              font-style: normal;
              font-weight: 600;
            }
            

            #menuImg{
                display: block;

                width: 24px;
                height: 27px;
                    margin-top: 10px;

            }
        #hideMenu{
            position: absolute;
            left: 30%;
            top: 0.5%;
            

        }
        nav .linksNav{
             display: none;
            list-style: none;
            margin:0 0.5em ;

            }
    
/* end header */
/*start Section 1*/
.cover1{
    width: 100%;
background-image:  url("../images/cover.png");
background-size: cover;
height:   200px;
 padding-top: 10%;

}


.cover1 h1 {
    text-align: center;

width: auto;
height: auto;



font-style: normal;
font-weight: bold;
font-size: 24px;

color: #FFFFFF;
}
.vheicule{
      width: 100%;
      padding: 0 5%;

    margin-top: 75px;

}
.vheicule h2 {
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 75px;
        color: #000000;

}
.vheicule h5 {
    font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
margin: 0%;

}
.cars::-webkit-scrollbar{
            width: 0;

        }
.cars{
    width: 100%;
       display: flex;
       justify-content: space-between;
       height: 250px;
       border-top: 2px solid;
        padding: 2%;
       overflow-y: hidden;
       flex-wrap: nowrap;
       overflow-x: auto;
       padding-top: 30px;
    


}
    .car{
        width: 35%;
    height:200px ;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin-left: 30px;
    padding-left: 0;
    padding-top: 22px;
    
    }
    .car h6 {
        
        font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
      text-align: center;
    color: #ffffff;
    margin: 5% 2%;
        

    }
    .car img {

        width: 70px;
        height:60px;
       margin: 0 35px;
       margin-bottom: 28px;

    }
    .carInfo{
        width: 100%;
    height:83px ;
    margin-right: 40px;
    padding-top: 20%;
background: #064635;
border-radius: 0px 0px 25px 25px;

    }
    

/*End Section vheicule*/
/*start Section fuelOption*/
.fuelOption{
width: 100%;   
 height: 240px;
 padding: 0 6%;
 display: none;

padding-top: 7%;

}
.fuelOption h2 {
text-align: center;
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 79px;

color: #000000;

}
.optionsF label{

    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 36px;
}
.optionsFF{
    display: flex;
    justify-content: space-between;
}


/*End Section fuelOption*/
/*start Section boxGear*/

.boxGear{

    width: 100%;
    height: 300px;
    padding: 0 6%;
display: none;
}
.boxGear h2{
    text-align: center;
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 79px;
color: #000000;

}
.boxOptions{
    width: 100%;
   padding: 0 10%;
   display: flex;
    justify-content: space-between;

}

.boxOptionsSpecs {
display: flex;
justify-content: center;
flex-direction: column;
}
.boxOptionsSpecs p {
    font-style: normal;
    text-align: center;
font-weight: 500;
font-size: 18px;
line-height: 36px;
}
.boxOptionsSpecs img {
margin: auto;
    width: 80px;
height: 80px;
margin-bottom: 15px;
}

#manual{
    margin: auto;
}
#automatic{
    margin: auto;
}
/*End Section boxGear*/

/*start Section duration*/

.duration{
    width: 100%;
height: 400px;   
 padding: 0 6%;


}
.duration h2 {
    text-align: center;
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 79px;
color: #000000;


}
.durationOption{
    width: 100%;
   display: flex;
align-items: center;
padding: 0 10%;

}
.durationOption label{

    font-style: normal;
font-weight: 500;
font-size: 24;
line-height: 60px;
margin-right: 20px;
}
#durationn{
    width: 60%;
height: 50px;



background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 10px;
}
.duration button {
    height: 40px;
    width: 100px;
background: #064635;
margin: 0 40%;
color: white;
border-radius: 10px;
margin-top: 40px;

}
/*End Section duration*/

 /* start footer  */
               
 footer{
    margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;

 }
 .featFot{
      margin-left: 8%;
      border-right:groove;
      flex: 1;

  padding-right: 3%;

 }
 .featFot h2{
  font-family: Poppins;
  font-style: normal;
   font-weight: bold;
  font-size: 14px;
  line-height:15px;
  height: 30px;

 }
 .featFot h6{
  font-family: Poppins;
  font-style: normal;
   font-weight: 200;
  font-size: 10px;
  line-height:15px;
 
}

 .feaatFot1 {
      margin: 0; 
      display: flex;
      align-items: center;
 }
 .feaatFot1 img{
  width:10%;
  height: 10%;
 }
 .feaatFot1 h6{
   margin-left: 2%;
  font-family: Poppins;
  font-style: normal;
   font-weight: 300;
  font-size: 8px;
  line-height: 9px;
 }
 #cars {
     padding-right: 30px;
 }

 #feaatFot0  {

  border-right: none;

 }
 #feaatFot0 h6 {

  border-right: none;

 }
 #cars h6{
  width: 90%;

 }
/* end footer  */
/*end Section 1*/

        }